.cardWithImage {
  height: fit;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: var(--default-box-shadow);
  background-color: var(--on-background);
  text-align: center;
  margin-bottom: var(--default-margin);
  padding: var(--card-padding);
}

.cardWithImage-image {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.cardWithImage-title {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 10px 0;
  color: var(--text-color);
}

.cardWithImage-description {
  font-size: 1rem;
  display: -webkit-box;
  height: fit-content;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.bottomContent {
  padding-top: 1rem;
}
