.app-layout {
  height: 100%;
  display: flex;
  position: relative;
}

.content-wrapper {
  height: 100%;
  display: flex;
  flex: 1;
  margin: 0 var(--default-margin);
}

.main-content {
  width: 100%;
  height: 100%;
  transition: margin-left 0.5s, width 0.5s;
}

.sidebar-layout {
  display: initial;
  height: 100vh;
  position: sticky !important;
  top: 0;
  left: 0;
}
