.app-layout {
  display: flex;
  height: 100vh;
}

.content-wrapper {
  display: flex;
  flex: 1;
}

.sidebar {
  height: 100%;
  width: 250px;
  padding: 10px 14px;
  background: var(--on-background);
  transition: var(--tran-05);
  z-index: 10;
  transition: width 0.5s;
}

.main-content {
  width: 100%;
  padding: 20px;
  transition: margin-left 0.5s, width 0.5s;
}

.sidebar.close ~ .main-content {
  margin-left: 78px;
  width: calc(100% - 78px);
}
